<div id="<%= dom_id food_table %>">
  <p>
    <strong>Food name:</strong>
    <%= food_table.Food_name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= food_table.Unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= food_table.Price %>
  </p>

</div>
