<h1>Editing food table</h1>

<%= render "form", food_table: @food_table %>

<br>

<div>
  <%= link_to "Show", @food_table, class:"btn btn-secondary" %> |
  <%= link_to "Back", food_tables_path, class:"btn btn-secondary" %>
</div>
