<p style="color: green"><%= notice %></p>

<h1>Food tables</h1>

<div id="food_tables">
  <% @food_tables.each do |food_table| %>
    <%= render food_table %>
    <p>
      <%= link_to "Show", food_table %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_food_table_path %>
