<header>
  <div>
    <%# <%= link_to image_tag("Fitness_Logo.svg"), authenticated_root_path %> %>
    <span>
    logo
    </span>
  </div>
  <div class="form-container">
      <form>
        <input type="search" placeholder="search" id="search"/>
        <div>
          <button type="submit" id="submit-btn"><i class="fas fa-search"></i> Search</button>
        </div>
      </form>
  </div>
</header>